In [ ]:
def myreduce(func,lst):
  final=lst[0]
  for i in lst[1:]:
    final=func(final,i)
  return final

In [ ]:
def sum(x,y):return x + y

In [ ]:
print("Output using own reduce function " + str(myreduce(sum,[1,2,3,4])))

Output using own reduce function 10

In [ ]:
def multiply(x,y):return x*y

In [ ]:
print("Output using own reduce function " + str(myreduce(multiply,[2,3,4])))

Output using own reduce function 24

In [ ]:
def myfilter(func,lst):
  final=[]
  for i in lst:
    if func(i):
      final.append(i)
  return final

In [ ]:
def check_odd(x):
  if x % 2 !=0:
    return True

In [ ]:
print("Output using own myfilter function " + str(myfilter(check_odd,[4,5,6,7])))

Output using own myfilter function [5, 7]

In [ ]:
a=[i*j for i in ['x','y','z'] for j in range(1,5)]
a

['x', 'xx', 'xxx', 'xxxx', 'y', 'yy', 'yyy', 'yyyy', 'z', 'zz', 'zzz', 'zzzz']

In [ ]:
b=[i*j for i in range(1,5) for j in ['x','y','z']]
b

['x', 'y', 'z', 'xx', 'yy', 'zz', 'xxx', 'yyy', 'zzz', 'xxxx', 'yyyy', 'zzzz']

In [ ]:
c=[[i+j] for i in range(3)  for j in range(2,5)]
c

[[2], [3], [4], [3], [4], [5], [4], [5], [6]]

In [ ]:
d=[[i+j for i in [2,3,4,5]] for j in range(4)]
d

[[2, 3, 4, 5], [3, 4, 5, 6], [4, 5, 6, 7], [5, 6, 7, 8]]

In [ ]:
e=[(i,j) for i in range(1,4) for j in range(1,4)]
e

[(1, 1), (1, 2), (1, 3), (2, 1), (2, 2), (2, 3), (3, 1), (3, 2), (3, 3)]